<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
    <form class="login-form" #loginForm = "ngForm" (ngSubmit)="onLogin()">
        <mat-form-field class="example-full-width">
            <mat-label>Email or Mobile No.</mat-label>
            <input name="email" matInput placeholder="Enter your Email or Mobile" value="" [(ngModel)]="login.email" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input name="password" matInput type="password" placeholder="Enter your password!!" value="" [(ngModel)]="login.password" required>
        </mat-form-field>
        <div class="login-btn-group">
            <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
            <button mat-flat-button color="warn" (click)="onNoClick()">Cancel</button>
        </div>    
    </form>
</div>
<div mat-dialog-actions>
    <!-- <button mat-flat-button color="primary" (click)="onLogin()">Login</button>
    <button mat-flat-button color="warn" (click)="onNoClick()">Cancel</button> -->
    <mat-divider></mat-divider>
    <div class="register-section">
        <span>Don't have an account? </span>
        <button mat-button (click)="gotoRegister()">Register</button>
    </div>    
</div>