<div class="dish">
    <mat-card class="example-card" style="width: 400px;">
        <img width="200px" height="200px" mat-card-image src="assets/images/{{dish.imagepath}}"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>{{dish.name}}</h3>
            <p>
                {{dish.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary">{{avgRating |number: '1.2-2'}} Rating</mat-chip>
                <mat-chip color="primary">{{totalComments}} Comments</mat-chip>
            </mat-chip-list>
        </mat-card-actions>
    </mat-card>
    <div class="comments-section">
        <h2>Comments</h2>
        <br />
        <div *ngFor="let comment of dish.comments">
            <p>{{comment.comment}} {{comment.rating}} stars </p>
            <span>-- {{comment.user}} </span>
            <span>{{comment.time | date}}</span>
            <hr>
        </div>
    </div>
</div>