
<form class="register-form">
    <h2>Register</h2>
    <mat-form-field class="example-full-width">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="ENter your username" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Email Id</mat-label>
        <input matInput type="email" placeholder="Enter your password!!" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Mobile Number</mat-label>
        <input matInput type="tel" placeholder="Enter your password!!" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password!!" value="">
    </mat-form-field>
    <button mat-flat-button color="primary">Register</button>
</form>