
<form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <h2>Register</h2>
    <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname" placeholder="Enter your First Name" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" placeholder="Enter your Last Name" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Email Id</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Enter your Email!!" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobile" type="tel" placeholder="Enter your Mobile!!" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Enter your password!!" value="">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
</form>